[defaults]
hostfile = hosts
remote_user = vagrant
private_key_file = .vagrant/machines/default/virtualbox/private_key
host_key_checking = False
roles_path = /Users/stevetuckner/Projects/Outcome/ansible_up_and_running/roles
allow_world_readable_tmpfiles = True
